.capture-decran-2023-10-13-a3 {
  position: absolute;
  top: 1260px;
  left: 0;
  width: 420px;
  height: 574.14px;
  object-fit: cover;
}
.capture-decran-2023-10-13-a4,
.capture-decran-2023-10-13-a5 {
  position: absolute;
  top: 0;
  left: 0;
  width: 420px;
  height: 673.63px;
  object-fit: cover;
}
.capture-decran-2023-10-13-a5 {
  top: 672px;
  height: 591.26px;
}
.activer-ma-demande,
.component-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.activer-ma-demande {
  position: relative;
  line-height: 20px;
  width: 150px;
  height: 14px;
  flex-shrink: 0;
}
.component-6 {
  position: absolute;
  top: 1682px;
  left: 109px;
  border-radius: var(--br-7xs);
  background-color: var(--color-cornflowerblue);
  width: 201px;
  height: 31px;
  flex-direction: column;
}
.capture-decran-2023-10-13-a-root {
  position: relative;
  background-color: var(--color-white);
  width: 100%;
  height: 1834px;
  overflow: hidden;
  text-align: center;
  font-size: var(--font-size-mini);
  color: var(--color-white);
  font-family: var(--font-roboto);
}
